{% extends 'participation/base.html' %}

{% block title %}
活动详情
{% endblock %}

{% block css %}
{{ block.super }}
<style type="text/css">

</style>
{% endblock %}

{% block body %}
<p>title: {{ activity.title }}</p>
<p>aaid: {{ activity.aaid }}</p>
<p>creator: {{ activity.creator }}</p>
<p>description: {{ activity.description }}</p>
<p>content: {{ activity.content }}</p>
<p>poster_url: {{ activity.poster }}</p>
<p>signin_begin_at: {{ activity.signin_begin_at }}</p>
<p>signin_end_at: {{ activity.signin_end_at }}</p>
<p>begin_at: {{ activity.begin_at }}</p>
<p>end_at: {{ activity.end_at }}</p>
<p>signin_count: {{ activity.signin_count }}</p>
<p>signin_max: {{ activity.signin_max }}</p>
<p>checkin_count: {{ activity.checkin_count }}</p>
<p>need_checkin: {{ activity.need_checkin }}</p>
{% endblock %}

{% block js %}
{{ block.super }}
<script type="text/javascript">

</script>
{% endblock %}