{% extends 'participation/base.html' %}

{% block title %}
活动详情
{% endblock %}

{% block css %}
{{ block.super }}
<style type="text/css">
.content-wrapper {
	margin-top: 50px;
	margin-bottom: 50px;
}
.act-title {
	background: white;
	height: 30px;
	padding: 10px;
	color: purple;
}
.act-title-hint {
	height: 30px;
	line-height: 30px;
	font-size: 10px;
	color: #999999;
	float: right;
}
.act-title-text {
	height: 30px;
	line-height: 30px;
	font-size: 18px;
	color: purple;
	float: left;
}
.act-title-text i {
	margin-right: 5px; 
}
.act-img-wrapper {
	width: 40% !important;
	height: auto !important;
}
.act-info {
	color: #999999;
	font-size: 13px;
}
.act-info i {
	color: purple;
	margin-right: 3px;
}
.act-hint {
	position: fixed;
	width: 100%;
	height: 40px;
	bottom: 0;
	display: none;
}
.act-hint .act-time {
	width: 60%;
	height: 40px;
	float: left;
	color: white;
	display: none;
	background: purple;
}
.act-hint .act-switch {
	width: 60%;
	height: 40px;
	float: left;
	color: white;
	display: none;
	line-height: 40px;
	text-align: center;
	background: gray;
}
.act-hint .act-op {
	width: 40%;
	height: 40px;
	line-height: 40px;
	font-size: 20px;
	float: right;
	color: white;
	text-align: center;
	font-size: 20px;
}
.act-hint .act-switch .act-switch-text {
	height: 40px;
}
.act-hint .act-time .act-time-text {
	line-height: 15px;
	font-size: 10px;
	text-align: center;
}
.act-hint .act-time .act-time-time {
	line-height: 25px;
	font-size: 20px;
	text-align: center;
}
.clear-both {
	clear: both;
}
</style>
{% endblock %}

{% block body %}
<div class="navbar-header navbar-header-default">
	<a class="navbar-header-left" href="/activities"><i class="fa fa-chevron-left"></i></a>
	<span class="navbar-header-text">
		活动详情
	</span>
</div>
<div class="content-wrapper">
	<div class="act-title">
		<p class="act-title-text"><i class="fa fa-heart"></i>{{ activity.title }}</p>
	</div>
	<div class="weui-panel weui-panel_access">
	    <div class="weui-panel__bd">
	        <div class="weui-media-box weui-media-box_appmsg">
	            <div class="weui-media-box__hd act-img-wrapper">
	                <img class="weui-media-box__thumb" src="{{ activity.poster.url }}">
	            </div>
	            <div class="weui-media-box__bd">
					<p class="act-info"><i class="fa fa-eye"></i>{% if not activity.need_checkin %}不{% endif %}需要签到</p>
					<p class="act-info"><i class="fa fa-eye"></i>{% if activity.signin_max %}限 {{ activity.signin_max }} 人报名{% else %}无名额限制{% endif %}</p>
					<p class="act-info"><i class="fa fa-eye"></i>已有 {{ activity.signin_count }} 人报名</p>
	            </div>
	        </div>
	    </div>
	</div>
	<div class="weui-panel weui-panel_access">
	    <div class="weui-panel__hd">活动简介</div>
	    <div class="weui-panel__bd">
	        <div class="weui-media-box weui-media-box_text">
	            <p class="weui-media-box__desc">{{ activity.description }}</p>
	        </div>
	    </div>
	</div>
	<div class="weui-panel weui-panel_access">
	    <div class="weui-panel__hd">活动详情</div>
	    <div class="weui-panel__bd">
	        <div class="weui-media-box weui-media-box_text">
	            <p class="weui-media-box__desc">{{ activity.content }}</p>
	        </div>
	    </div>
	</div>
</div>
<div class="act-hint">
	<div class="act-time">
		<p class="act-time-text" id="act_time_text">距离活动开始还有</p>
		<p class="act-time-time"><span id="hours">01</span> : <span id="minutes">26</span> : <span id="seconds">08</span></p>
	</div>
	<div class="act-switch">
		<span class="act-switch-text">活动进行中</span>
	</div>
	<div class="act-op" id="op_btn">立即报名</div>
	<div class="clear-both"></div>
</div>
{% endblock %}

{% block js %}
{{ block.super }}
<script type="text/javascript">
var signin_begin_at = {{ activity.signin_begin_at }},
	signin_end_at = {{ activity.signin_end_at }},
	begin_at = {{ activity.begin_at }},
	end_at = {{ activity.end_at }};
var aaid = '{{ activity.aaid }}';
{% if has_signed_in %}
var has_signed_in = true;
{% else %}
var has_signed_in = false;
{% endif %}
var can_sign_in = false;
function formatTimeParam(p) {
	if(p < 10) return '0' + p;
	else return p;
}
function updateTime(interval) {
	var hh = formatTimeParam(Math.round(interval / 3600)),
		mm = formatTimeParam(Math.round((interval % 3600) / 60)), 
		ss = formatTimeParam(Math.round(ss = interval % 60));
	$('#hours').html(hh);
	$('#minutes').html(mm);
	$('#seconds').html(ss);
}
function updateStatus() {
	var current = moment().unix();
	if(current > signin_begin_at && current < signin_end_at)
		can_sign_in = true;
	else
		can_sign_in = false;
	if(can_sign_in && !has_signed_in)
	{
		$('#op_btn').css('background', '#ff3d00').html('立即报名');		
	}
	else if(has_signed_in)
	{
		$('#op_btn').css('background', '#00897b').html('已报名');
	}
	else
	{
		$('#op_btn').css('background', 'gray').html('未报名');
	}


	if (current < begin_at)
	{
		$('.act-switch').css('display', 'none');
		$('.act-time').css('display', 'block');
		var interval = begin_at - current;
		updateTime(interval);
	}
	else if(current < end_at)
	{
		$('.act-time').css('display', 'none');
		$('.act-switch').css('display', 'block');
		$('.act-switch-text').html('活动进行中')
	}
	else
	{
		$('.act-time').css('display', 'none');
		$('.act-switch').css('display', 'block');
		$('.act-switch-text').html('活动已结束')
	}
}
updateStatus();
$('.act-hint').css('display', 'block');
$('#op_btn').on('click', function() {
	var now = moment.unix();
	if(!can_sign_in)
		return;
	$.post('/activity/' + aaid + '/signin')
	.done(function(data) {
		if(data.status == 'success') {
			has_signed_in = true;
			weui.toast(data.msg, {
				duration: 1000
			});
		}
		else if(data.status == 'error') {
			weui.topTips(data.msg, 3000);
		}
		else {
			weui.topTips('未知错误, 请稍后再试', 3000);
		}
	})
	.fail(function(){
		weui.topTips('网络状况不佳, 请稍后再试', 3000);
	})
})
setInterval(function() {
	updateStatus();
}, 1000);
</script>
{% endblock %}