{% extends 'participation/base.html' %}

{% block title %}
签到成功
{% endblock %}

{% block css %}
{{ block.super }}
<style type="text/css">

</style>
{% endblock %}

{% block body %}
<div class="msg-wrapper">
    <div class="weui-msg">
        <div class="weui-msg__icon-area"><i class="weui-icon-success weui-icon_msg"></i></div>
        <div class="weui-msg__text-area">
            <h2 class="weui-msg__title">签到成功</h2>
            <p class="weui-msg__desc">这里可能会有一些字。<a href="javascript:void(0);">文字链接</a></p>
        </div>
        <div class="weui-msg__opr-area">
            <p class="weui-btn-area">
                <a href="/activity/{{ aaid }}" class="weui-btn weui-btn_primary">查看活动详情</a>
                <a href="/activities" class="weui-btn weui-btn_default">返回我的主页</a>
            </p>
        </div>
        <div class="weui-msg__extra-area">
            <div class="weui-footer">
                <p class="weui-footer__links">
                    <a href="javascript:void(0);" class="weui-footer__link">底部链接文本</a>
                </p>
                <p class="weui-footer__text">Copyright &copy; Ruaaaaaa</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
{{ block.super }}
<script type="text/javascript">
</script>
{% endblock %}