{% extends 'participation/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block css %}
{{ block.super }}
<style type="text/css">

</style>
{% endblock %}

{% block body %}
<div class="msg-wrapper">
    <div class="weui-msg">
        <div class="weui-msg__icon-area"><i class="weui-icon-info weui-icon_msg"></i></div>
        <div class="weui-msg__text-area">
            <h2 class="weui-msg__title">签到</h2>
            <p class="weui-msg__desc">你将签到某活动</p>
        </div>
        <div class="weui-msg__opr-area">
            <p class="weui-btn-area">
                <a onclick="checkin()" class="weui-btn weui-btn_primary">点我立即签到</a>
            </p>
        </div>
        <div class="weui-msg__extra-area">
            <div class="weui-footer">
                <p class="weui-footer__links">
                    <a href="javascript:void(0);" class="weui-footer__link">底部链接文本</a>
                </p>
                <p class="weui-footer__text">Copyright &copy; Ruaaaaaa</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
{{ block.super }}
<script type="text/javascript">
var aaid = '{{ aaid }}'
var activity_url = '/activity/' + aaid;
var checkin_url = '/activity/' + aaid + '/checkin';
var success_url = '/activity/' + aaid + '/checkin/success';
var fail_url = '/activity/checkin/fail';
checkin = function() {
    $.post(checkin_url)
    .done(function(data, status) {
        if(data.status == 'success') {
            weui.toast(data.msg, {duration: 3000, callback: function() {
                window.location.href = success_url;
            }});
        }
        else if(data.status == 'error') {
            weui.topTips(data.msg, 3000);
        }
        else {
            weui.topTips('未知错误，请稍后再试', 3000);
        }
    })
    .fail(function() {
        weui.topTips('网络状况不佳，请稍后再试', 3000);
    })
}
</script>
{% endblock %}