{% extends 'participation/base.html' %}

{% block title %}
用户中心 - 我的消息
{% endblock %}

{% block css %}
{{ block.super }}
<style type="text/css">
.new-msg-badge {
    margin-left: 5px;
    margin-bottom: 5px;
}
</style>
{% endblock %}

{% block body %}
<div class="bottom-nav">
    <div class="bottom-nav-tab"><a class="bottom-nav-tab-text" href="/activities">活动</a></div>
    <div class="bottom-nav-tab active"><a class="bottom-nav-tab-text" href="/messages">消息{% if unreceived > 0 %}<span class="weui-badge new-msg-badge">{{ unreceived }}</span>{% endif %}</a></div>
    <div class="bottom-nav-tab"><a class="bottom-nav-tab-text" href="/settings">设置</a></div>
</div>

<div class="navbar-header navbar-header-user">
    <span class="navbar-header-text">
        欢迎你，{{ userinfo.name }}老师！
    </span>
</div>

<div class="user-content-wrapper">
{% for b in broadcasts %}
    <div class="weui-panel">
        <div class="weui-panel__bd">
            <div class="weui-media-box weui-media-box_text">
                <h4 class="weui-media-box__title">{{ b.title }}{% if not b.received %}<span class="weui-badge new-msg-badge">NEW</span>{% endif %}</h4>
                <p class="weui-media-box__desc">{{ b.content }}</p>
                <ul class="weui-media-box__info">
                    <li class="weui-media-box__info__meta">来自 {{ b.sender_name }}</li>
                    <li class="weui-media-box__info__meta send_time">{{ b.send_at }}</li>
                    <li class="weui-media-box__info__meta weui-media-box__info__meta_extra">一些其它信息</li>
                </ul>
            </div>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}

{% block js %}
{{ block.super }}
<script type="text/javascript">
$('.send_time').html(function(idx, old) {
    return moment.unix(old).format('YYYY年M月D日 HH:mm:ss');
})
</script>
{% endblock %}