{% extends 'participation/base.html' %}

{% block title %}
用户中心 - 我的活动
{% endblock %}

{% block css %}
{{ block.super }}
<style type="text/css">
.new-msg-badge {
    margin-left: 5px;
    margin-bottom: 5px;
}
</style>
{% endblock %}

{% block body %}
<div class="bottom-nav">
    <div class="bottom-nav-tab active"><a class="bottom-nav-tab-text" href="/activities">活动</a></div>
    <div class="bottom-nav-tab"><a class="bottom-nav-tab-text" href="/messages">消息</a></div>
    <div class="bottom-nav-tab"><a class="bottom-nav-tab-text" href="/settings">设置</a></div>
</div>

<div class="navbar-header navbar-header-user">
    <span class="navbar-header-text">
        欢迎你，{{ userinfo.name }}老师！
    </span>
</div>

<div class="user-content-wrapper">
    {% for act in activities %}
    <div class="weui-panel weui-panel_access">
        <div class="weui-panel__hd"># {{ act.aaid }}</div>
        <div class="weui-panel__bd">
            <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
                <div class="weui-media-box__hd">
                    <img class="weui-media-box__thumb" src="{{ act.poster.url }}" alt="">
                </div>
                <div class="weui-media-box__bd">
                    <h4 class="weui-media-box__title">{{ act.title }}</h4>
                    <p class="weui-media-box__desc">{{ act.description }}</p>
                </div>
            </a>
        </div>
        <div class="weui-panel__ft">
            <a href="/activity/{{ act.aaid }}" class="weui-cell weui-cell_access weui-cell_link">
                <div class="weui-cell__bd">查看活动详情</div>
                <span class="weui-cell__ft"></span>
            </a>    
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}

{% block js %}
{{ block.super }}
<script type="text/javascript">

</script>
{% endblock %}