{% extends 'dashboard/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block css %}
{{ block.super }}
<style type="text/css">
.content-wrapper {
  margin-top: 70px;
}
.act-list {
  list-style: none;
  padding: 0;
}
.act-list .act-item {
  height: 200px;
  margin: 5px 0 5px 0;
}
.new-act-btn {
  margin: 0 0 10px 0;
}
.btn-group {
  width: 100%;
}
.btn-group .group-btn-2{
  width: 50%;
}
.btn-group .group-btn-3{
  width: 33.33%;
}
.btn-group .group-btn-5{
  width: 20%;
}
.poster {
  width: 100%;
}
#qr_div {
  text-align: center;
}
#qr_div img {
  width: 100%;
}
.content-loading {
  text-align: center;
}
.qr-modal-body {
  width: 60%;
}
@media (min-width: 768px) {
  .qr-modal-body {
    width: 40%;
  }
}
</style>
{% endblock %}

{% block body %}
{% include 'dashboard/header.html' %}
<div class="container-fluid content-wrapper" id="root">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">所有活动</h3>
        </div>
        <div class="panel-body">
            <a class="btn btn-default new-act-btn" target="_blank" href="/admin/activity/new"><i class="fa fa-plus-square"></i>点我创建新活动</a>
            <div class="row">
                {% for act in activities %}
                <div class="col-xs-12 col-sm-4 col-md-3">
                  <div class="thumbnail">
                    <img class="poster" src="{{ act.poster.url }}">
                    <div class="caption">
                      <p>#{{ act.aaid }}</p>
                      <h4>{{ act.title }}</h4>
                      <p>{% if act.signin_max %}报名人数上限: {{ act.signin_max }}{% else %}无报名人数限制{% endif %}</p>
                      <p>报名人数: {{ act.signin_count }}</p>
                      <p>{% if not act.need_checkin %}不{% endif %}需要现场签到</p>
                      <p>报名开始: <span class="act-time">{{ act.signin_begin_at }}</span></p>
                      <p>报名结束: <span class="act-time">{{ act.signin_end_at }}</span></p>
                      <p>活动开始: <span class="act-time">{{ act.begin_at }}</span></p>
                      <p>活动结束: <span class="act-time">{{ act.end_at }}</span></p>
                      <p>{{ act.description }}</p>
                      <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default group-btn-5" @click="showContent('{{ act.aaid }}')"><i class="fa fa-info"></i></button>
                        <button type="button" class="btn btn-default group-btn-5" @click="showQR('{{ act.aaid }}')"><i class="fa fa-qrcode"></i></button>
                        <button type="button" class="btn btn-default group-btn-5" @click="downloadInfo('{{ act.aaid }}')"><i class="fa fa-download"></i></button>
                        <button type="button" class="btn btn-default group-btn-5" @click="edit('{{ act.aaid }}')"><i class="fa fa-edit"></i></button>
                        <button type="button" class="btn btn-default group-btn-5" @click="remove('{{ act.aaid }}')"><i class="fa fa-trash"></i></button>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="modal fade" id="qr_modal" tabindex="-1" role="dialog">
      <div class="modal-dialog qr-modal-body" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">活动二维码</h4>
          </div>
          <div class="modal-body">
            <div id="qr_div"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="content_modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">活动详情</h4>
          </div>
          <div class="modal-body">
              <div class="content-loading" v-if="contentLoading">
                  <i class="fa fa-spinner fa-pulse fa-fw"></i> 内容获取中...
              </div>
              <div class="act-content" v-if="!contentLoading">
              [[ content ]]
              </div>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}

{% block js %}
{{ block.super }}
<script type="text/javascript">
var DOMAIN = '{{ DOMAIN }}';
function generateQRCode(aaid) {
    var url = '/activity/' + aaid + '/';
    console.log(url);
    window.location.href = url;
}
$('.act-time').each(function() {
    var time_stamp = $(this).text();
    $(this).text(moment.unix(time_stamp).format('YYYY-MM-DD HH:mm:ss'));
})
var app = new Vue({
  el: '#root',
  delimiters: ["[[","]]"],
  data: {
    QRCode: null,
    contentLoading: true,
    content: ''
  },
  methods: {
    showContent: function(aaid) {
      this.contentLoading = true;
      var self = this;
      $.get('/admin/activity/' + aaid + '/content')
      .done(function(data) {
        if(data.status == 'success') {
          self.content = data.data.content;
        }
      })
      .always(function() {
        self.contentLoading = false;
      })
      $('#content_modal').modal('show');
    },
    showQR: function(aaid) {
      if(!this.QRCode) {
        this.QRCode = new QRCode(document.getElementById('qr_div'), {
            text: DOMAIN + "/activity/" + aaid,
            width: 200,
            height: 200
        });
      }
      else {
        this.QRCode.clear();
        this.QRCode.makeCode(DOMAIN + "/activity/" + aaid);
      }
      $('#qr_modal').modal('show');
    },
    downloadInfo: function(aaid) {
      window.open('/admin/activity/' + aaid + '/download');
    },
    edit: function(aaid) {
      window.open('/admin/activity/' + aaid + '/edit');
    },
    remove: function(aaid) {
      var doRemove = confirm('你确认要移除这个活动和其相关的所有信息吗？注意，这个操作是不可逆的！');
      if(!doRemove)
        return;
      $.post('/admin/activity/' + aaid + '/delete')
      .done(function(data) {
        if(data.status == 'success') {
          alert(data.msg);
          window.location.reload();
        }
        else if(data.status == 'error')
          alert(data.msg);
        else
          alert('未知错误！')
      })
      .fail(function() {
        console.log('网络状况不佳，请稍后再试！');
      })
    },
  }
})
</script>
{% endblock %}