{% extends 'dashboard/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block css %}
{{ block.super }}
<style type="text/css">
.content-wrapper {
  margin-top: 70px;
}
.act-list {
  list-style: none;
  padding: 0;
}
.act-list .act-item {
  height: 200px;
  margin: 5px 0 5px 0;
}
</style>
{% endblock %}

{% block body %}
{% include 'dashboard/header.html' %}
<div class="container-fluid content-wrapper" id="root">
  	<ul class="nav nav-tabs">
  	  <li role="presentation" class="active"><a href="#">进行中活动</a></li>
  	  <li role="presentation"><a href="#">已结束活动</a></li>
  	</ul>
    <div class="row">
      {% for act in activities %}
      <div class="col-xs-12 col-sm-4 col-md-3">
        <div class="thumbnail">
          <img src="http://s.amazeui.org/media/i/demos/bw-2014-06-19.jpg?imageView/1/w/1000/h/1000/q/80" alt="...">
          <div class="caption">
            <h3>{{ act.title }}</h3>
            <h2>{{ act.aaid }}</h2>
            <p>{{ act.description }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
</div>
{% endblock %}

{% block js %}
{{ block.super }}
<script type="text/javascript">
function generateQRCode(aaid) {
    var url = '/activity/' + aaid + '/';
    console.log(url);
    window.location.href = url;
}
</script>
{% endblock %}