<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">工会信息管理</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li {% if tab == 0 %}class="active"{% endif %}><a href="/admin/activity">活动列表</a></li>
        <li {% if tab == 1 %}class="active"{% endif %}><a href="/admin/users">用户列表</a></li>
        <li {% if tab == 2 %}class="active"{% endif %}><a href="/admin/broadcast">广播站</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">{{ username }}</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>