{% extends 'dashboard/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block css %}
{{ block.super }}
<style type="text/css">
.content-wrapper {
  margin-top: 70px;
}
.form-group {
  position: relative;
}
#submit_btn_loading {
  display: none;
}
#poster_canvas {
  display: none;
}
#signin_max_form {
  display: none;
}
</style>
{% endblock %}

{% block body %}
{% include 'dashboard/header.html' %}
<div class="container-fluid content-wrapper">
  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">新建活动</h3>
        </div>
        <div class="panel-body">
          <form>
            <div class="form-group" id="title_form">
              <label class="control-label">活动主题</label>
              <input type="text" class="form-control" placeholder="在此输入活动主题" id="title" value="{{ activity.title|default:"" }}">
            </div>
            <div class="form-group" id="description_form">
              <label class="control-label">活动简介</label>
              <textarea class="form-control" rows="2" id="description">{{ activity.description|default:"" }}</textarea>
            </div>
            <div class="form-group" id="content_form">
              <label class="control-label">活动详情</label>
              <textarea class="form-control" rows="6" id="content">{{ activity.content|default:"" }}</textarea>
            </div>
            <div class="form-group" id="poster_form">
              <label class="control-label">宣传图</label>
              <input type="file" id="poster">
              <p class="help-block">如果你上传的图片不是1:1, 将会被自动压缩比例。</p>
              <canvas id="poster_canvas" width="200" height="200"></canvas>
            </div>
            <div class="form-group" id="dtp_ss_form">
              <label class="control-label">报名开始时间</label>
              <input type="text" class="form-control" id="dtp_ss">
            </div>
            <div class="form-group" id="dtp_se_form">
              <label class="control-label">报名结束时间</label>
              <input type="text" class="form-control" id="dtp_se">
            </div>
            <div class="form-group" id="dtp_as_form">
              <label class="control-label">活动开始时间</label>
              <input type="text" class="form-control" id="dtp_as">
            </div>
            <div class="form-group" id="dtp_ae_form">
              <label class="control-label">活动结束时间</label>
              <input type="text" class="form-control" id="dtp_ae">
            </div>
            <div>
              <div class="checkbox" id="signin_restrict_form">
                <label>
                  <input type="checkbox" id="signin_restrict" {% if activity.signin_max %}checked{% endif %}>报名人数限制
                </label>
              </div>
            </div>
            <div class="form-group" id="signin_max_form">
              <label class="control-label">报名人数上限</label>
              <input type="text" class="form-control" placeholder="在此输入报名人数上限" id="signin_max" value="{{ activity.signin_max|default:"" }}">
            </div>
            <div>
              <div class="checkbox" id="need_checkin_form">
                <label>
                  <input type="checkbox" id="need_checkin" {% if activity.need_checkin %}checked{% endif %}>需要现场签到
                </label>
              </div>
            </div>
            <button type="button" class="btn btn-default" id="submit_btn">{% if type == "new" %}立即创建{% else %}确认修改{% endif %}</button>
            <button type="button" class="btn btn-default btn-disabled" id="submit_btn_loading"><i class="fa fa-spinner fa-pulse fa-fw"></i>提交中...</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
{{ block.super }}
<script type="text/javascript">
function setTime(ss, se, as, ae) {
  if(ss) {
    $('#dtp_ss').data('DateTimePicker').date(moment.unix(ss));
  }
  if(se) {
    $('#dtp_se').data('DateTimePicker').date(moment.unix(se));
  }
  if(as) {
    $('#dtp_as').data('DateTimePicker').date(moment.unix(as));
  }
  if(ae) {
    $('#dtp_ae').data('DateTimePicker').date(moment.unix(ae));
  }
}

function validateForm(title, description, content, poster, dtp_ss, dtp_se, dtp_as, dtp_ae, signin_restrict, signin_max, need_checkin) {
  if(!title) {
    alert('标题不能为空！'); return;
  }
  if(!description) {
    alert('活动简介不能为空！'); return;
  }
  if(!content) {
    alert('活动详情不能为空！'); return;
  }
  if(window.type == 'new' && !poster) {
    alert('请上传活动海报！'); return;
  }
  if(!dtp_ss || !dtp_se || !dtp_as || !dtp_ae) {
    alert('活动时间不能为空！'); return;
  }
  if(signin_restrict) {
    if(isNaN(signin_max) || signin_max_int <= 0) {
      alert('报名人数上限必须是正整数！');
      return;
    }
  }
  return true;
}

function toggleButton(status) {
  if(status == 0) {
    $('#submit_btn_loading').css('display', 'none');
    $('#submit_btn').css('display', 'block');
  }
  else {
    $('#submit_btn').css('display', 'none');
    $('#submit_btn_loading').css('display', 'block');
  }
}

function init() {
  var dtp_ss_init = '{{ activity.signin_begin_at }}',
      dtp_se_init = '{{ activity.signin_end_at }}',
      dtp_as_init = '{{ activity.begin_at }}',
      dtp_ae_init = '{{ activity.end_at }}';
  window.type = '{{ type }}';
  var icons = {
                time: 'fa fa-clock-o',
                date: 'fa fa-calendar',
                up: 'fa fa-chevron-up',
                down: 'fa fa-chevron-down',
                previous: 'fa fa-chevron-left',
                next: 'fa fa-chevron-right',
                today: '',
                clear: '',
                close: ''
              }
  $('#dtp_ss').datetimepicker({
    icons: icons
  });
  $('#dtp_se').datetimepicker({
    icons: icons
  });
  $('#dtp_as').datetimepicker({
    icons: icons
  });
  $('#dtp_ae').datetimepicker({
    icons: icons
  });

  {% if activity.signin_max %}
  $('#signin_max_form').css('display', 'block');
  {% endif %}
  $('#signin_restrict').on('click', function() {
    if(this.checked) {
      $('#signin_max_form').css('display', 'block');
    }
    else {
      $('#signin_max_form').css('display', 'none');
    }
  });

  setTime(dtp_ss_init, dtp_se_init, dtp_as_init, dtp_as_init);

  $('#submit_btn').on('click', function() {
    toggleButton(1);
    var moment_tmp = null;
    var title = $('#title').val();
    var description = $('#description').val();
    var content = $('#content').val();
    moment_tmp = $('#dtp_ss').data('DateTimePicker').date();
    var dtp_ss = moment_tmp? moment_tmp.unix() : null;
    moment_tmp = $('#dtp_se').data('DateTimePicker').date();
    var dtp_se = moment_tmp? moment_tmp.unix() : null;
    moment_tmp = $('#dtp_as').data('DateTimePicker').date();
    var dtp_as = moment_tmp? moment_tmp.unix() : null;
    moment_tmp = $('#dtp_ae').data('DateTimePicker').date();
    var dtp_ae = moment_tmp? moment_tmp.unix() : null;
    var signin_restrict = $('#signin_restrict').get(0).checked;
    var signin_max = parseInt($('#signin_max').val(), 10);
    var need_checkin = $('#need_checkin').get(0).checked;
    var poster = $('#poster')[0].files[0];
    if(!validateForm(title, description, content, poster, dtp_ss, dtp_se, dtp_as, dtp_ae, signin_restrict, signin_max, need_checkin)) {
      toggleButton(0);
      return;
    }
    var formData = new FormData();
    formData.append('poster', poster);
    formData.append('data', JSON.stringify({
        title: title,
        description: description,
        content: content,
        signin_begin_at: dtp_ss,
        signin_end_at: dtp_se,
        begin_at: dtp_as,
        end_at: dtp_ae,
        signin_restrict: signin_restrict,
        signin_max: signin_restrict? signin_max: null,
        need_checkin: need_checkin
    }));
    $.ajax({
      type: 'POST',
      url: window.location.pathname,
      cache: false,
      data: formData,
      processData: false,
      contentType: false
    })
    .done(function(data){
      if(data.status == 'success') {
        alert(data.msg);
        window.location.href = '/admin/activity';
      }
      else if (data.status == 'error') {
        alert(data.msg);
      }
      else {
        alert('未知错误！');
      }
    })
    .fail(function(){
      alert('网络状况不佳，请稍后再试。');
    })
    .always(function(){
      toggleButton(0);
    })
  });

  window.reader = new FileReader();
  window.posterImg = new Image();

  $('#poster').on('change', function() {
    $('#poster_canvas').css('display', 'block');
    var file = this.files[0];
    window.reader.readAsDataURL(file);
  });
  window.reader.onload = function() {
    window.posterImg.src = window.reader.result;
  };
  window.posterImg.onload = function() {
    $('#poster_canvas')[0].getContext('2d').drawImage(window.posterImg, 0, 0, 200, 200);
  };
}

init();
</script>
{% endblock %}