{% extends 'dashboard/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block css %}
{{ block.super }}
<style type="text/css">
.content-wrapper {
  margin-top: 70px;
}
</style>
{% endblock %}

{% block body %}
{% include 'dashboard/header.html' %}
<div class="container-fluid content-wrapper">
users
</div>
{% endblock %}

{% block js %}
{{ block.super }}
<script type="text/javascript">
$.get('/admin/users/get', {page: 1, number: 20})
.done(function(data) {
  console.log(data);
})
</script>
{% endblock %}