{% extends 'dashboard/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block css %}
{{ block.super }}
<style type="text/css">
.content-wrapper {
  margin-top: 70px;
}
</style>
{% endblock %}

{% block body %}
{% include 'dashboard/header.html' %}
<div class="container-fluid content-wrapper">
    <div class="row">
        <div class="col-xs-12 col-sm-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">用户列表</h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <td>#</td>
                                <td>真实姓名</td>
                                <td>性别</td>
                                <td>工号</td>
                                <td>单位</td>
                                <td>分工会</td>
                                <td>手机</td>
                                <td>邮箱</td>
                                <td>照片</td>
                            </thead>
                            <tbody>
                                <tr>
                                  <td>1</td>
                                  <td>郭元晨</td>
                                  <td>男</td>
                                  <td>2015011262</td>
                                  <td>火锅单位</td>
                                  <td>麻将分工会</td>
                                  <td>18810000000</td>
                                  <td>bennyguo@163.com</td>
                                  <td>查看照片</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <nav>
                      <ul class="pagination">
                          <li>
                            <a href="#" aria-label="Previous">
                              <span aria-hidden="true">&laquo;</span>
                            </a>
                          </li>
                          <li><a href="#">1</a></li>
                          <li><a href="#">2</a></li>
                          <li><a href="#">3</a></li>
                          <li><a href="#">4</a></li>
                          <li><a href="#">5</a></li>
                          <li>
                              <a href="#" aria-label="Next">
                                  <span aria-hidden="true">&raquo;</span>
                              </a>
                        </li>
                      </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="hidden-xs col-sm-3">
            <div class="row">
                <div class="panel panel-default">
                  <div class="panel-heading">
                      <h3 class="panel-title">筛选器</h3>
                  </div>
                  <div class="panel-body">
                      <form>
                          <div class="form-group">
                              <label>单位</label>
                              <select id="dpm_selector" class="form-control" multiple="multiple">
                                  <option value="MJ">麻将</option>
                                  <option value="HG">火锅</option>
                              </select>
                          </div>
                          <div class="form-group">
                              <label>分工会</label>
                              <select id="su_selector" class="form-control" multiple="multiple">
                                  <option value="MJ">麻将</option>
                                  <option value="HG">火锅</option>
                              </select>
                          </div>
                          <button type="button" class="btn btn-default">筛选</button>
                      </form>
                  </div>
                </div>
            </div>
            <div class="row">
                <div class="panel panel-default">
                  <div class="panel-heading">
                      <h3 class="panel-title">一些功能</h3>
                  </div>
                  <div class="panel-body">
                      <form>
                          <button type="button" class="btn btn-default btn-block">导出所有用户数据</button>
                          <button type="button" class="btn btn-default btn-block">导出当前筛选下用户数据</button>
                      </form>
                  </div>
                </div>              
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
{{ block.super }}
<script type="text/javascript">
 $.get('/admin/users/get', {page: 1, number: 20})
 .done(function(data) {
     console.log(data);
 })
$('#dpm_selector').select2();
$('#su_selector').select2();
</script>
{% endblock %}
